<%= form_for([@order]) do |f| %>
  <div class="form-group">
    <%= f.label :description %>: 
    <%= f.text_field :description, class: 'form-control mb-2' %></p>

    <% unless @order.completed? %> 
      <%= f.label :state %>:        
      <div class="custom-control custom-radio">
        <% Order.states.keys.each do |state_as| %>
          <% if @order.pending? && state_as != 'completed' %>
            <%= f.radio_button :state , state_as %>
            <%= f.label state_as.to_sym %><br>
          <% end %>
          <% if @order.in_progress? && state_as != 'pending' %>
            <%= f.radio_button :state , state_as %>
            <%= f.label state_as.to_sym %><br>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= submit_tag "Send" %>
  </div>
<% end %>