<% unless @order.blank? %>
  <table id="order" width="360">
    <tr>
      <td>
        <%= search_form_for @q do |f| %>
          <%= f.label :description_cont %>
          <%= f.search_field :description_cont %>
          <%= f.submit %>
        <% end %>
        <% unless @result.blank? %>
          <br>
          <center>
            <h2> Search Result </h2>
          </center>
          <br>
          <table id="order" width="400">
            <thead>
              <tr>
                <td>ID</td>
                <td>Description</td>
                <td>State</td>
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
            <% @result.each do |result| %>
                <tr>
                  <td><%= result.id %></td>
                  <td><%= result.description %></td>
                  <td><%= result.aasm_state %></td> 
                  <td>  
                    <% unless result.completed? %>
                      <%= link_to 'Edit', edit_order_path(result), class: 'btn btn-dark' %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to order_path(result.id),
                                method: :delete, 
                                class: 'btn btn-warning',
                                data: {confirm: "Do you really want to delete #{result.description}?"} do %>
                      Delete
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </td>
    </tr>
  </table>
  <br>
  <hr>
  <br>
  <center>
    <h2> Order List </h2>
  </center>
  <br>
  <table id="order" width="400">
    <thead>
      <tr>
        <td>ID</td>
        <td>Description</td>
        <td>State</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @order.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.description %></td>
          <td><%= order.aasm_state %></td> 
          <td>  
            <% unless order.completed? %>
              <%= link_to 'Edit', edit_order_path(order), class: 'btn btn-dark' %>
            <% end %>
          </td>
          <td>
            <%= link_to order_path(order.id),
                        method: :delete, 
                        class: 'btn btn-warning',
                        data: {confirm: "Do you really want to delete #{order.description}?"} do %>
              Delete
             <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
