<% unless @order.blank? %>
  <table id="order" width="360">
    <tr>
      <td>
        <%= form_tag(search_page_path, method: 'get') do %>
          <div class="input-group">
            <%= search_field_tag :search, params[:search], placeholder: 'Search', class: 'form-control' %>
            <div class="input-group-btn">
              <%= button_tag 'Search', class: 'btn btn-info', name: nil %>
            </div>
          </div>
        <% end %>
      </td>
    </tr>
  </table>
  <br>
  <table id="order" width="400">
    <thead>
      <tr>
        <td>ID</td>
        <td>Description</td>
        <td>State</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @order.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.description %></td>
          <td><%= order.read_attribute('state') %></td> 
          <td>  
            <% unless order.completed? %>
              <%= link_to 'Edit', edit_order_path(order), class: 'btn btn-dark' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
