<%= form_for([@order]) do |f| %>

    <%= f.hidden_field :state_id, :value => 1 %>
    <%= f.label :description %> </br>
    <%= f.text_field :description %></p>
    <%= submit_tag "Send" %>

<% end %>